
Button {
    -fx-min-width: 100px;
    -fx-min-height: 30px;
    -fx-background-color: grey;
}

Label {
    -fx-text-fill: #ffa500;
}

.margin-Buttons {
    -fx-spacing: 5px;
}

VBox, HBox, Seperator, .list-cell {
    -fx-background-color: #121212;
}
