
@font-face {
    font-family: "Friday13";
    src: url("../font/Friday13v12.ttf");
}

@font-face {
    font-family: "True Crimes";
    src: url("../font/crimes.ttf");
}

.button {
    -fx-min-width: 100px;
    -fx-min-height: 30px;
    -fx-background-color: grey;
    -fx-font-family: "Friday13";
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.setting-button {
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-background-color: grey;
    -fx-font-family: "Friday13";
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.margin-Buttons {
    -fx-spacing: 10px;
}

.margin-Settings {
    -fx-spacing: 10px;
}

.margin-Text {
    -fx-spacing: 10px;
}

.margin-Select {
    -fx-spacing: 10px;
}

.margin {
    -fx-spacing: 10px;
}

VBox, HBox {
    -fx-background-color: #121212;
}

Label {
    -fx-font-size: 16px;
    -fx-text-fill: #ffa500;
    -fx-font-family: "True Crimes";
}

#errorText {
    -fx-text-fill: red;
}